{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} Home {% endblock %}
{% block content %}

<table class="table">
<form method="post">
  {{ form.csrf_token }}
  <tbody>
    <tr>
      <td width="25%">
          <fieldset class="form-field">
                {{ form.date.label(class="form-label") }}
                {{ form.date(class="form-control") }}
            </fieldset>
      </td>
      <td width=25%>
          	<fieldset class="form-field">
        		{{ form.numresults.label(class="form-label") }}
	        	{{ form.numresults(class="form-control") }}
            </fieldset>
      </td>
      <td>
        <br>
          {{ form.submit(class="btn btn-primary") }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>

<tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Birth Year</th>
    </tr>
  </thead>
  <tbody>
		{% for person in myData %}
			<tr>
				<td class="align-middle">{{ loop.index0 +1}}</td>
				<td class="align-middle"><img src= {{ person['thumbnail'] }} class="img-thumbnail" style="max-height:50px;max-width:50px;"> {{ person['text']}}</td>			
				<td class="align-middle">{{ person['year']}}</td>			
			</tr>
		
        {% endfor %}
      </tbody>
</table>
 {% endblock %}