{% extends "base.html" %}
{% block vis %} collapse navbar-collapse {% endblock %} 
{% block content %}

  <!-- HERO -->
  <div class="hero vh-100 d-flex>
    <div class = "row" "height=100px">
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-transparent">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            </ul>
            <a href="signin" class="btn btn-primary ms-lg-3">Sign In</a>
          </div>
        </div>
      </nav>
      <!--NAVBAR END-->
      <div class="row h-100">
        <div class="col-lg-7 mx-auto my-auto text-center">
          <img src="../static/img/binge-1.png" class = "img-fluid">
          <p class="text-white">Plan your next binge!</p>
          <a href="signup.html" class="btn btn-primary btn-lg">GET STARTED</a>
        </div> 
      </div>
      </div>

  </div>

{% endblock %}

